
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");


body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background: #1e1e1e; /* ou qualquer cor */
    background: linear-gradient(135deg, #1e1e2f, #2a2a72);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
