
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

:root {
    --white-color: #ffffff;
    --black-color: #000000;
    --body-font: "Poppins", sans-serif;
    --h1-font-size: 1.75rem;
    --normal-font-size: 1rem;
    --small-font-size: .813rem;
    --font-medium: 500;
}

html, body {
    height: 100%;
    min-height: 100vh;
}

body {
    background: linear-gradient(135deg, #1e1e2f, #2a2a72);
    color: white;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-header h6 {
    color: white !important;
}

.card {
    background: rgba(255, 255, 255, 0.08);
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(12px);
    border-radius: 1.2rem !important;
    padding: 2rem;
    color: var(--white-color);
    box-shadow: 0 8px 25px rgba(0,0,0,0.25);
}


.card h3 {
    font-size: var(--h1-font-size);
    font-weight: var(--font-medium);
    margin-bottom: 2rem;
    text-align: center;
    color: var(--white-color);
}


.form-label {
    color: var(--white-color);
    font-weight: var(--font-medium);
    transition: 0.3s ease;
}

.form-control {
    background: transparent !important;
    border: none;
    border-bottom: 2px solid var(--white-color);
    border-radius: 0;
    color: var(--white-color) !important;
    padding-left: 0;
    box-shadow: none !important;
}

/* Deixar as informações da tabela brancas */
table, th, td {
    color: white !important;
}



.form-control:focus + .form-label,
.form-control:not(:placeholder-shown) + .form-label {
    transform: translateY(-20px);
    font-size: var(--small-font-size);
    opacity: 0.8;
}


.btn-primary {
    background: var(--white-color) !important;
    color: var(--black-color) !important;
    font-weight: var(--font-medium);
    padding: 0.9rem;
    border-radius: 0.6rem;
    margin-top: 1rem;
    border: none;
    transition: 0.3s;
}

.btn-primary:hover {
    background: #ddd !important;
}

a {
    color: var(--white-color);
}

a:hover {
    text-decoration: underline;
}


.alert {
    margin-top: 1rem;
    border-radius: 0.8rem;
    font-weight: var(--font-medium);
}

.mb-3 {
    position: relative;
}

.form-label {
    position: absolute;
    left: 0;
    top: 10px;
    pointer-events: none;
}

.form-control {
    padding-top: 10px;
    padding-bottom: 5px;
}

table tr td {
    background-color: transparent !important;
    color: #ffffff !important;
}

table tr:nth-child(even) td {
    background-color: rgba(255, 255, 255, 0.05) !important;
}

